*{
    margin: 0;
    padding: 0;
}
/*Шапка-----------------------------------------------------*/
header{
    width: 100%;
    height: 100px;
    background: #2c3e50;
    display: flex;
    flex-direction: row;

}

.form{
    width: auto;
    margin-top: 34px;
    margin-left: 15px;
}
header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px ;
    padding: 5px;
}
header a:hover{
    background-color:white;
    color: #2c3e50;
}
#myTest1{
    height: 40px;
    font-size: 40px;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 75%;
}

#myTest2{
    height: 40px;
    font-size: 40px;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 72%;
}
#myTest3{
    height: 40px;
    font-size: 40px;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 69%;
}
#myTest4{
    height: 40px;
    font-size: 40px;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 65%;
}


.reg{
    width: auto;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 15px;
}
.exit{
    font: inherit;

    width: auto;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border:  1px solid white;
    background-color: #2c3e50;
    outline: none;
    display: block;
}

.exit:hover{
    background-color:white;
    color: #2c3e50;
    cursor: pointer;
}
/*Логин и регистрация--------------------------------------------------*/
.regina{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: white;
}
.textR{
    font-weight: bold ;
    height: 150px;
    font-size: 80px;
    width: auto;
    border-bottom: white;
    background-color: white;
    color: #2c3e50;
    text-align: center;
}
.contentR{
    height: 350px;

    border-radius: 20px ;
}
.polya{
    width: 450px;
    height: auto;
    margin-right: auto;
    margin-left: auto;


}
.polya input{
    border-radius: 20px;
    height: 30px;
    width: 300px;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 10px;
    outline: none;
    color: #2c3e50;
    font-weight: bold;
}
.formReg{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 20px;
    background-color: #2c3e50;
}
.polya input.switchRole{
    width: 20px;
    height: auto;
}
.polya label{
    font-size: 20px;


}
.inputR{
    width: 319px;
    margin-left: auto;
    margin-right: auto;
}
.rolesBlok{
    margin-top: 10px;
    width: 230px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}
.reginaBut{
    width: 150px;
    margin-top: 20px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.polya .reginaBut input{
    width: 150px;
    padding-left: 0px;
    color: #2c3e50;
    cursor: pointer;
}
.spanDiv{
    width: 350px;
    color: #2c3e50;
    font-size: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
#recover{
    margin-top: -15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 15px;
}
#recover a{
    text-decoration: none;
    color: white;
}

/*Админ Таблица-----------testList------------------*/
.shapka{
    font-weight: bold ;
    height: 150px;
    font-size: 80px;
    width: auto;
    border-bottom: white;
    background-color: white;
    color: #2c3e50;
    text-align: center;
}
.underlinetxt{
    color: white;
    font-size: 15px;
    width: 75px;
    margin-top: 8px;
    margin-left: 80px;
}
.underlinetxt:hover{
    background-color: white ;
    color: #2c3e50;
    border-radius: 5px;
    cursor: default;
}
.forTable{
    margin-top: 80px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.forTable table{
    width: 800px;
    border: 1px;
    background-color: #2c3e50;
}

#thead {
    height: 30px;
    font-size: 20px;
    background-color:#2c3e50 ;
    color: white;
    border-color: #2c3e50;
}
.forTable tr{
    background-color: white;
    text-align: center;

}
.forTable td{
    height: 30px;
    font-size: 20px;
}
.createDiv{
    font-size: 25px;
    margin-top: 15px;
    width: 148px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
#create{
    width: 148px;
    text-decoration: none;
    color: #2c3e50;
    border: 1px solid #2c3e50;
    border-radius: 10px ;
    padding: 5px;
    background-color:white;
}
#create:hover{
    background-color:#2c3e50;
    color: white;
}

/*Профиль------------------------------------------------------------------*/
.sh{
    padding-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid white;
}
#kabinet{
    width: 800px;
}
#kabinet .inputR{
    font-size: 30px;
    margin-top: 5px;

}
#get{
    margin-top: 10px;
    margin-left: 110px;
    font-style: italic;
}

.changePass{
    width: 218px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px ;
    padding: 5px;

}
#kabinet .polya{
    height: auto;
}
.changePass:hover{
    background-color:white;
    color: #2c3e50;
}
#changeButt{
    font-size: 30px;
    margin-top: 15px;
    width: 219px;
    margin-left: auto;
    margin-right: auto;
   padding-bottom: 20px;
}
/*testEdit*/
.quests textarea{
    width: 620px;
    height: auto;
    resize: none;
    font-size: 20px;
    padding: 5px 15px;
    border: 0px;
    outline: none;
}
.testEdit{
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.contentTest{
    width: 500px;
    max-height: 500px;
    height: 275px;
    background-color: #2c3e50;
    color: white;
    border-radius: 20px;
}
.nameTest{
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.descTest{
    height: auto;

    font-size: 20px;
    font-style: italic;
    padding: 15px;
}

.quests{
    margin-left: auto;
    margin-left: auto;
}
.testEdit .createDiv{
    width: 194px;
}
#shapkaEdit{
    margin-top: 30px;
}
.quests .forTable{
    margin-top: 0px;
}
/*Создать тест --------------------------------------------------*/
.newTest .shapka{
    margin-top: 30px;

}
.newTest form{
    background-color: #2c3e50;
    width: auto;
    border-radius: 10px;
}

.formReg textarea{
    width: 288px;
    height:100px;
    resize: none;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    margin-top: 30px;
    outline: none;
}
.inputTest{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.inputTest input{
    width: 578px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #2c3e50;
    outline: none;
    color: #2c3e50;
    font-weight: bold;

}
#newQe{
    width: 400px;
}
#answer .inputR{
    display: flex;
}
#answer .switchRole{
    margin-top: 70px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
#newQe .polya{
    width: 400px;
}
#descripHead{
    font-size: 40px;
    height: auto;
    margin-bottom: 25px;
}
.question{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#NameHead{
    font-size: 60px;
}
#tests .switchRole{
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    margin-top: auto;

}
.Answer{
    display: flex;
}
.textAnsw{
    font-size: 20px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}
#tests .reginaBut{
    margin-top: 0px;
    width: 220px;

}
#tests #butt{
    width: 220px;
}
#formAnswers{
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
}
.publicBut a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px ;
    padding: 5px;
}
.publicBut a:hover{
    background-color:white;
    color: #2c3e50;
}
.publicBut{
    width: 132px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 20px;

}




