<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
</head>
<body>
<div th:replace="header :: content"></div>
<div>
  <h1>Личный кабинет</h1>
  <div>
    <h2>Свединия о профиле</h2>
    <tr>
      <td th:text="${user.getEmail()}"></td>
      <td th:text="${user.getUsername()}"></td>
      <td th:if="${user.getRole().get(0).getName()=='ROLE_USER'}">Пользователь</td>
      <td th:if="${user.getRole().get(0).getName()=='ROLE_TESTER'}">Тестировщик</td>
      <td th:if="${user.getRole().get(0).getName()=='ROLE_ADMIN'}">Администратор</td>
    </tr>
  </div>
</div>
</body>
</html>