<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
</head>
<body>
<div th:replace="header :: content"></div>
<div class="regina" id="kabinet">
  <div class="textR" >Личный кабинет</div>
  <div class="contentR">


    <form class="formReg" th:action="@{/login}" method="post">

      <div class="polya">
        <div class="sh" th:text="${user.getUsername()}"> </div>
        <div class="inputR"> E-mail:</div>
        <div class="inputR"  id = "get" th:text="${user.getEmail()}"></div>
        <div class="inputR"> Account type:</div>
        <div class="inputR" id = "get" th:if="${user.getRole().get(0).getName()=='ROLE_USER'}"> Пользователь</div>
        <div class="inputR" id = "get" th:if="${user.getRole().get(0).getName()=='ROLE_TESTER'}"> Тестировщик </div>
        <div class="inputR" id = "get" th:if="${user.getRole().get(0).getName()=='ROLE_ADMIN'}"> Администратор</div>
        <div  class = "changeButt"> <a class="changePass" href="/changePassword">Сменить пароль</a></div>
        <div  class = "changeButt"> <a class="changePass" href="/results">Мои результаты</a></div>
      </div>
    </form>
  </div>

</body>
</html>